* {
  font-family: 'Roboto', sans-serif;
}

.post-content p {
  text-align: justify;
}

.footnote-ref {
  margin-left: 5px
}

.post-content h4 {
  font-size: 19px;
  margin-top: 35px;
}

.post-content h4:before {
  content: "➣";
  margin-right: 10px;
}

@media not speech {
  body {
    font-size: 16px;
    margin: 24px 0 16px;
  }
}

@media screen and (max-width: 28em) {
  .post-content p {
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 18%;
  }
  .post-content p {
    padding: 15px;
  }
}

@media screen and (max-width: 56em) {
  body {
    padding: 10px;
  }
}

@media screen and (min-width: 28em) {
  body {
    font-size: 17px;
  }
}

@media screen and (min-width: 36em) {
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 48em) {
  body {
    font-size: 19px;
  }
}

@media screen and (min-width: 56em) {
  body {
    font-size: 20px;
  }
}

@media screen and (min-width: 64em) {
  body {
    font-size: 21px;
  }
}

main {
  --main-width: 900px
}

/*   /1* Add a box around *1/ */
/* h2, h3, h4, h5 { */
/*   background-color: gray; */
/*   font-weight: bold; */
/*   border-radius: 5px; */
/*   width: auto; */
/*   height: auto; */
/*   padding: 10px 10px 10px 14px; */
/* } */
