<section class="article discussion">
  <script>
  function loadComment() {
    let theme =
      localStorage.getItem("pref-theme") == 'dark' ||
      localStorage.getItem("pref-theme") === null
        ? 'github-dark' : 'github-light';
    // console.log(localStorage.getItem("pref-theme"));
    // console.log(theme);
    let s = document.createElement('script');
    s.src = 'https://utteranc.es/client.js';
    s.setAttribute('repo', 'dathinaios/dathinaios.github.io');
    s.setAttribute('issue-term', 'pathname');
    s.setAttribute('theme', theme);
    s.setAttribute('crossorigin', 'anonymous');
    s.setAttribute('async', '');
    document.querySelector('section.article.discussion').innerHTML = '';
    document.querySelector('section.article.discussion').appendChild(s);
  }

  loadComment();
  if (window.matchMedia)
  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {loadComment();});
  </script>
</section>
